.head-text{
    font-size: 25px;
    font-weight: 600;
    color: #000;
}
/* 
#head-text{

} */

.button-prim{
    display: flex;
    padding: 20px;
    color: black;
    background-color: #d1d1d1;
    border: 1px solid transparent;
}