.head-text{
    font-size: 25px;
    font-weight: 600;
    color: #000;
}
/* 
#head-text{

} */

.button-prim{
    display: flex;
    padding: 20px;
    color: black;
    border: 1px solid transparent;
}

/* .my-card:hover{
    transform: scale(0.8);
} */

.my-card a{
    transition: background .5s ease-in;
}

.my-card: a{
    background: red;
}

.my-flex{
    display: flex;
    justify-content: flex-start;
}